<div class="product-list bottom-border-gold" style="padding: 0px; margin-top:40px;">
        <h3 class="also-purchased-header">Generic Extra Slider</h3>
        <div class="products-carousel products-group" id="recommended-carousel">
            <div class="carousel slide" id="also-purchased-carousel" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                            <div class="item active">
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/95029/2016-canada-1-oz-silver-maple-leaf-panda-privy-bu"><img alt="2016 Canada 1 oz Silver Maple Leaf Panda Privy BU" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/95029_Slab.jpg?v=20160203092409&amp;width=175&amp;height=175" title="2016 Canada 1 oz Silver Maple Leaf Panda Privy BU" width="175" data-pin-nopin="true"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/95029/2016-canada-1-oz-silver-maple-leaf-panda-privy-bu">2016 Canada 1 oz Silver Maple Leaf Panda Privy BU</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/95029/2016-canada-1-oz-silver-maple-leaf-panda-privy-bu">As Low As: $27.16</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95029&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/95029/2016-canada-1-oz-silver-maple-leaf-panda-privy-bu" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95029&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=95029" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/81489/2014-rcm-1-oz-silver-birds-of-prey-series-peregrine-falcon"><img alt="2014 RCM 1 oz Silver Birds of Prey Series Peregrine Falcon" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/81489_Slab.jpg?v=20150210042648&amp;width=175&amp;height=175" title="2014 RCM 1 oz Silver Birds of Prey Series Peregrine Falcon" width="175" data-pin-nopin="true"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/81489/2014-rcm-1-oz-silver-birds-of-prey-series-peregrine-falcon">2014 RCM 1 oz Silver Birds of Prey Series Peregrine Falcon</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/81489/2014-rcm-1-oz-silver-birds-of-prey-series-peregrine-falcon">As Low As: $21.66</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=81489&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/81489/2014-rcm-1-oz-silver-birds-of-prey-series-peregrine-falcon" class="btn btn-orange" rel="nofollow">Details</a></div>
                                            <div class="ribbon-label is-sale">Sale</div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=81489&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=81489" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/92516/2016-1-oz-silver-maple-leaf-mintdirect-premier-single"><img alt="2016 1 oz Silver Maple Leaf (MintDirect® Premier Single)" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/92516_Slab.jpg?v=20151021031626&amp;width=175&amp;height=175" title="2016 1 oz Silver Maple Leaf (MintDirect® Premier Single)" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/92516/2016-1-oz-silver-maple-leaf-mintdirect-premier-single">2016 1 oz Silver Maple Leaf (MintDirect® Premier Single)</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/92516/2016-1-oz-silver-maple-leaf-mintdirect-premier-single">As Low As: $20.36</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=92516&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/92516/2016-1-oz-silver-maple-leaf-mintdirect-premier-single" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=92516&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=92516" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/95220/2016-canada-1-oz-gold-roaring-grizzly-bear-99999-bu"><img alt="2016 Canada 1 oz Gold Roaring Grizzly Bear .99999 BU" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/95220_Slab.jpg?v=20160226104044&amp;width=175&amp;height=175" title="2016 Canada 1 oz Gold Roaring Grizzly Bear .99999 BU" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/95220/2016-canada-1-oz-gold-roaring-grizzly-bear-99999-bu">2016 Canada 1 oz Gold Roaring Grizzly Bear .99999 BU</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/95220/2016-canada-1-oz-gold-roaring-grizzly-bear-99999-bu">As Low As: $1,330.29</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95220&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/95220/2016-canada-1-oz-gold-roaring-grizzly-bear-99999-bu" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95220&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=95220" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                            </div>
                            <div class="item ">
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/95019/2016-canada-1-oz-silver-maple-leaf-lunar-monkey-privy-bu"><img alt="2016 Canada 1 oz Silver Maple Leaf Lunar Monkey Privy BU" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/95019_Slab.jpg?v=20151215045639&amp;width=175&amp;height=175" title="2016 Canada 1 oz Silver Maple Leaf Lunar Monkey Privy BU" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/95019/2016-canada-1-oz-silver-maple-leaf-lunar-monkey-privy-bu">2016 Canada 1 oz Silver Maple Leaf Lunar Monkey Privy BU</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/95019/2016-canada-1-oz-silver-maple-leaf-lunar-monkey-privy-bu">As Low As: $22.06</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95019&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/95019/2016-canada-1-oz-silver-maple-leaf-lunar-monkey-privy-bu" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95019&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=95019" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/95986/2016-canada-1-oz-silver-predator-series-cougar"><img alt="2016 Canada 1 oz Silver Predator Series Cougar" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/95986_Slab.jpg?v=20160217042937&amp;width=175&amp;height=175" title="2016 Canada 1 oz Silver Predator Series Cougar" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/95986/2016-canada-1-oz-silver-predator-series-cougar">2016 Canada 1 oz Silver Predator Series Cougar</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/95986/2016-canada-1-oz-silver-predator-series-cougar">As Low As: $20.06</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95986&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/95986/2016-canada-1-oz-silver-predator-series-cougar" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=95986&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=95986" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/94292/2016-canada-3-4-oz-silver-howling-wolves-bu"><img alt="2016 Canada 3/4 oz Silver Howling Wolves BU" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/94292_Slab.jpg?v=20151202024204&amp;width=175&amp;height=175" title="2016 Canada 3/4 oz Silver Howling Wolves BU" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/94292/2016-canada-3-4-oz-silver-howling-wolves-bu">2016 Canada 3/4 oz Silver Howling Wolves BU</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/94292/2016-canada-3-4-oz-silver-howling-wolves-bu">As Low As: $15.67</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=94292&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/94292/2016-canada-3-4-oz-silver-howling-wolves-bu" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=94292&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=94292" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/83022/10-oz-silver-bar-rcm-9999-fine-new-style"><img alt="10 oz Silver Bar - RCM (.9999 Fine, New Style)" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/83022_Slab.jpg?v=20140731043756&amp;width=175&amp;height=175" title="10 oz Silver Bar - RCM (.9999 Fine, New Style)" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/83022/10-oz-silver-bar-rcm-9999-fine-new-style">10 oz Silver Bar - RCM (.9999 Fine, New Style)</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/83022/10-oz-silver-bar-rcm-9999-fine-new-style">As Low As: $185.60</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=83022&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/83022/10-oz-silver-bar-rcm-9999-fine-new-style" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=83022&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=83022" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                            </div>
                            <div class="item ">
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/97847/2016-canada-1-oz-silver-maple-leaf-bigfoot-privy"><img alt="2016 Canada 1 oz Silver Maple Leaf Bigfoot Privy" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/97847_Slab.jpg?v=20160509110421&amp;width=175&amp;height=175" title="2016 Canada 1 oz Silver Maple Leaf Bigfoot Privy" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/97847/2016-canada-1-oz-silver-maple-leaf-bigfoot-privy">2016 Canada 1 oz Silver Maple Leaf Bigfoot Privy</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/97847/2016-canada-1-oz-silver-maple-leaf-bigfoot-privy">As Low As: $27.16</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=97847&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/97847/2016-canada-1-oz-silver-maple-leaf-bigfoot-privy" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=97847&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=97847" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                                    <div class="product-item product-item-condensed">
                                        <div class="product-item-image"><a href="/product/97848/2016-canada-1-oz-silver-maple-leaf-mark-v-tank-privy"><img alt="2016 Canada 1 oz Silver Maple Leaf Mark V Tank Privy" height="175" src="http://www.images-apmex.com/images/Catalog Images/Products/97848_Slab.jpg?v=20160505092943&amp;width=175&amp;height=175" title="2016 Canada 1 oz Silver Maple Leaf Mark V Tank Privy" width="175"></a></div>
                                        <div class="product-item-title" style="min-height: 60px;"><a href="/product/97848/2016-canada-1-oz-silver-maple-leaf-mark-v-tank-privy">2016 Canada 1 oz Silver Maple Leaf Mark V Tank Privy</a></div>
                                        <div class="product-item-aslowas">
                                            <a href="/product/97848/2016-canada-1-oz-silver-maple-leaf-mark-v-tank-privy">As Low As: $26.16</a>
                                        </div>
                                        <div class="product-item-buynow"><a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=97848&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" href="/product/97848/2016-canada-1-oz-silver-maple-leaf-mark-v-tank-privy" class="btn btn-orange" rel="nofollow">Details</a></div>
                                        <a onclick="ShoppingCart.showQuickView('/Catalog/ProductQuickView?productId=97848&amp;returnUrl=%2Frcmultimatesweepstakes');return false;" rel="nofollow" href="/Catalog/ProductQuickView?productId=97848" title="Quick View"><i class="icon icon-quicklook"></i></a>
                                    </div>
                            </div>

                </div>
                <a href="#also-purchased-carousel" class="carousel-control left" data-slide="prev">
                    <i class="icon icon-products-left"></i>
                </a>
                <a href="#also-purchased-carousel" class="carousel-control right" data-slide="next">
                    <i class="icon icon-products-right"></i>
                </a>

            </div>
        </div>
    </div>
