<style>
    /*.page-content-main, .page-content-sidebar
    {
        display: none;
    }*/

   .newbie .item-container {
		padding-top:24px;
		float:left;
		width:1000px;
	}
	.newbie .item-container .item:first-child {margin-left: 0;}
	.newbie .item {
		width: 23.125%;
		float: left;
		margin-left: 2.5%;
		box-sizing: border-box;
		display: block;
		text-align: center;
		position: relative;
		/*padding-left: 10px;
		padding-right: 10px;*/
	}
	.newbie .item.comp {
		margin-top: 56px;
		border: 1px solid #eaeaea;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}
	.newbie .item-image {
		margin: 0 auto !important;
	}
	.newbie .item-title h4 {
		margin-top: 8px;
		line-height: 1.4em;
		margin-bottom: 10px !important;
		min-height: 66px;
	}
	.big_large{
		height: 47px;
		line-height: 47px;
		font-size: 18px;
		padding: 0 22px;
		text-align: center;
		color: #ffffff;
		border: 1px solid #e67522;
		font-weight: 700;
		background: #e67522;
		background: #fda33a -ms-linear-gradient(bottom, #e67522 0%, #fda33a 100%);
		background: #fda33a -moz-linear-gradient(bottom, #e67522 0%, #fda33a 100%);
		background: #fda33a -o-linear-gradient(bottom, #e67522 0%, #fda33a 100%);
		background: #fda33a -webkit-gradient(linear, left bottom, left top, color-stop(0,#e67522), color-stop(1, #fda33a));
		background: #fda33a -webkit-linear-gradient(bottom, #e67522 0%, #fda33a 100%);
		background: #fda33a linear-gradient(to top, #e67522 0%, #fda33a 100%);
		display: inline-block;
		font-family: inherit;
		text-decoration: none;
		cursor: pointer;
		white-space: nowrap;
		outline: 0;
		font-style: normal;
		-o-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-ms-border-radius: 4px;
		border-radius: 4px;
		text-shadow: none;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
		-ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
		-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	}
	.item .icn {
		position: absolute;top:-56px;left:0;right:0;margin:0 auto;width: 112px;
	}
	.box_holder_inner.large {
    	padding: 71px 20px 30px;
    }

    .display-graph {
        display: inline;
        float: right;
    }

    .hide-graph, .graph-wrapper {
        display: none;
    }

</style>
    </div>


</main>



    <footer class="page-footer">
            <div class="page-container">
                <nav class="footer-links">
                    <ul>
                        <li><div class="footer-heading"><strong>About APMEX</strong></div></li>
                        <li><a href="/whyapmex" title="Why APMEX">Why APMEX</a></li>
                        <li><a href="/testimonials" title="APMEX Reviews">APMEX Reviews</a></li>
                        <li><a href="/employees" title="Leadership Team">Leadership Team</a></li>
                        <li><a href="/careeropportunities" title="Careers">Careers</a></li>
                        <li><a href="/contactus" title="Contact Us">Contact Us</a></li>
                        <li><a href="/sitemap" title="Sitemap">Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><div class="footer-heading"><strong>Buying & Selling</strong></div></li>
                        <li><a href="/ira-benefits-gold-ira-silver-ira" title="Precious Metals IRA">Precious Metals IRA</a></li>
                        <li><a href="/selltous" title="Sell To Us">Sell To Us</a></li>
                        <li><a href="/apmexclub" title="APMEX Club">APMEX Club</a></li>
                        <li><a href="/citadel" title="Storage">Storage</a></li>
                        <li><a href="/international" title="International">International</a></li>
                        <li><a href="/2016-precious-metals-products" title="2016 Coin Releases">2016 Coin Releases</a></li>
                    </ul>
                    <ul>
                        <li><div class="footer-heading"><strong>FAQs</strong></div></li>
                        <li><a href="/faq" title="Overall FAQs">Overall FAQs</a></li>
                        <li><a href="/faq?shipping#faq-shipping" title="Shipping & Handling">Shipping & Handling</a></li>
                        <li><a href="/faq?returnpolicies#faq-misc" title="Return Policy">Return Policy</a></li>
                        <li><a href="/faq?payments#faq-payments" title="Payment FAQs">Payment FAQs</a></li>
                        <li><a href="/where-is-my-order" rel="nofollow" title="Track My Order Status" alt="Track My Order Status">Where Is My Order?</a></li>
                        <li><div class="footer-heading"><strong>Sales &amp; Service</strong></div></li>
                        <li><b>M - Th</b> <a style="text-decoration:underline;" href="tel:+8003759006">8am - 8pm (ET)</a></li>
                        <li><b>Friday</b> <a style="text-decoration:underline;" href="tel:+8003759006">8am - 6pm (ET)</a></li>

                    </ul>
                    <ul class="footer-education">
                        <li><div class="footer-heading"><strong><a href="/education" title="Education">Education</a></strong></div></li>
                        <li><a href="/why-buy-physical-gold" title="Why Buy Physical Gold & Silver">Why Buy Physical Gold & Silver</a></li>
                        <li><a href="/how-much-should-i-buy" title="How Much Should I Buy">How Much Should I Buy</a></li>
                        <li><a href="/how-to-buy-gold-and-silver" title="How To Buy Physical Gold & Silver">How To Buy Physical Gold & Silver</a></li>
                        <li><a href="/first-time-buyer" title="First-Time Buyers FAQs">First-Time Buyers FAQs</a></li>
                        <li><a href="/precious-metals-guide" title="Precious Metals Guides">Precious Metals Guide</a></li>
                    </ul>
                    <ul class="footer-policies">
                        <li><div class="footer-heading"><strong>Policies</strong></div></li>
                        <li><a href="/privacypolicy" title="Privacy Policy">Privacy Policy</a></li>
                        <li><a href="/useragreement?market#marketLossPolicy" title="Market Loss Policy">Market Loss Policy</a></li>
                        <li><a href="/useragreement" title="User Agreement">User Agreement</a></li>
                    </ul>
                </nav>

                <div class="social">
                    <h5 class="footer-heading"><strong>Connect With Us</strong></h5>
                    <div class="social-counters">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/APMEX" target="_blank" title="Facebook Likes for American Precious Metals Exchange">
                                    <i class="icon icon-facebook"></i> <strong>60k</strong> likes
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/apmex" target="_blank" title="YouTube Views for American Precious Metals Exchange">
                                    <i class="icon icon-youtube"></i> <strong>1m</strong> views
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/APMEX" target="_blank" title="Twitter Followers for American Precious Metals Exchange">
                                    <i class="icon icon-twitter"></i> <strong>17k</strong> followers
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/company/apmex-inc" target="_blank" title="LinkedIn Followers for American Precious Metals Exchange">
                                    <i class="icon icon-linkedin"></i> <strong>1k</strong> followers
                                </a>
                            </li>
                            <li>
                                <a href="http://www.pinterest.com/apmex/" target="_blank" title="Pinterest Pins for American Precious Metals Exchange">
                                    <i class="icon icon-pinterest"></i> <strong>240</strong> pins
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.apmex.com/" target="_blank" title="Blog for American Precious Metals Exchange">
                                    <i class="icon icon-blog"></i> <strong>Blog</strong>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+apmex" target="_blank" title="Google+ Views for American Precious Metals Exchange">
                                    <i class="icon icon-googleplus"></i> <strong>0.2m</strong> views
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="page-container" style="margin-top: 40px;">
                <div class="footer-newletter">
                    <h5 class="footer-heading"><strong>Stay Informed Of Our Special Offers.</strong></h5>
                    <form action="/Site/SubscribeToNewsLetter" method="GET">
                        <input type="text" class="newsletter-field form-control" name="newsletteremail" id="newsletter-email" placeholder="Enter Email Address" />
                        <input type="hidden" name="Source" value="Default" />
                        <button type="submit" class="btn btn-orange btn-sm" onclick="MyAccount.subscribeNewsLetter('/Site/SubscribeToNewsLetter','#newsletter-email');return false;" style="margin-top:-3px;">Sign Up</button>
                    </form>
                </div>
                <div class="footer-info">
                    <h5><strong>Leading Online Precious Metals Retailer For Over 15 Years</strong></h5>
                    <h5>Over 2.4 Million Ounces of Gold Sold | Over 95 Million Ounces of Silver Sold</h5>
                        <a href="https://www.trustpilot.com/review/www.apmex.com" rel="nofollow" target="_blank" style="color: #989ca2;font-size: 13px;">
                            <span itemscope="" itemtype="http://schema.org/Product">
                                <span itemprop="name">APMEX.com</span>
                                <meta itemprop="url" content="www.apmex.com">
                                has a TrustPilot rating of
                                <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                    <span itemprop="ratingValue">4.8</span>/<span itemprop="bestRating">5</span>
                                    based on <span itemprop="ratingCount">4858</span> ratings and reviews.
                                </span>
                            </span>
                        </a>

                </div>
            </div>
            <div class="page-container">
                <div class="third-party-logos">
                    <a href="/whyapmex">
                        <img src="http://www.images-apmex.com/content/images/marketing/apmex15/15Years-Footer.png" alt="Not only has APMEX been selling precious metals for 15 years, the Internet Retailer ranks APMEX #46 out of 500 online retailers." title="APMEX – 15 Years in Business" />
                    </a>
                    <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.apmex.com&lang=en" target="_blank">
                        <img src="http://www.images-apmex.com/content/images/themes/default/thirdparty-norton-v2.png" alt="" title="Norton Secured" />
                    </a>
                    <a href="https://www.scanalert.com/RatingVerify?ref=www.apmex.com" target="_blank">
                        <img border="0" src="//images.scanalert.com/meter/www.apmex.com/32.gif" alt="HACKER SAFE certified sites prevent over 99.9% of hacker crime." oncontextmenu="alert('Copying Prohibited by Law - HACKER SAFE is a Trademark of ScanAlert'); return false;" />
                    </a>
                    <a href="https://www.bbb.org/oklahoma-city/business-reviews/investment-securities/american-precious-metals-exchange-in-oklahoma-city-ok-7002053#bbblogo" target="_blank">
                        <img src="http://www.images-apmex.com/content/images/themes/default/thirdparty-bbb.png" alt="BBB Accredited Business, A+ Rating for American Precious Metals Exchange." title="BBB Accredits American Precious Metals Exchange." />
                    </a>
                </div>
            </div>
            <div class="page-container">
                <div class="copyright">
                    &copy; 2016 APMEX, Inc. All Rights Reserved.
                </div>
            </div>
    </footer>
    <a href="#" id="back-to-top" class="fade">Back To Top</a>


    <script type="text/javascript">

        (function () {
            $('.truncate-tip').truncate({ max_length: 367 });

            $('.newbie .view-graph').click(function () {
                $('.view-graph').css("display", "none");
                $('.hide-graph').css("display", "block");
                $('.graph-wrapper').slideDown();
                return false;
            });

            $('.newbie .hide-graph').click(function () {
                $('.view-graph').css("display", "block");
                $('.hide-graph').css("display", "none");
                $('.graph-wrapper').slideUp();
                return false;
            });
        })();


    </script>






    <div id="modal-historicalCharts" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Historical Charts</h4>
                </div>
                <div class="modal-body">
                    <div class="historical-charts-detail-tabs">
                        <ul class="charts-tabs" id="historical-charts-detail-tabs">
                            <li class="active"><a href="#modal-charts-gold" rel="1" data-toggle="tab">Gold</a></li>
                            <li><a href="#modal-charts-silver" rel="2" data-toggle="tab">Silver</a></li>
                            <li><a href="#modal-charts-platinum" rel="3" data-toggle="tab">Platinum</a></li>
                            <li><a href="#modal-charts-palladium" rel="4" data-toggle="tab">Palladium</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="historical-charts-detail-metal">
                                <ul class="charts-tabs time-period historical-charts-duration-tabs">
                                    <li class="active"><a href="#" rel="day">1 day</a></li>
                                    <li><a href="#" rel="month">30 days</a></li>
                                    <li><a href="#" rel="3month">90 days</a></li>
                                    <li><a href="#" rel="year">1 year</a></li>
                                    <li><a href="#" rel="5year">5 years</a></li>
                                    <li><a href="#" rel="20year">20 years</a></li>
                                    <li><a href="#" rel="30year">30 years</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="modal-charts-display" class="tab-pane fade in active" style="margin: 5px 40px;text-align: center;min-height:375px">
                                        <img id="modal-charts-display-img" src="http://www.images-apmex.com/content/images/themes/default/ajax-loader-large.gif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <div id="modal-module-content" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Module Name</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modal-product-quickview">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-product-popup">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-alertme" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">


                </div>
            </div>
        </div>
        <div id="modal-watchlist" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">WishList!</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-added-to-cart">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div id="modal-notify-maxqty" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Current Quantities Available</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
            <div id="tippy-top" class="fade">
                <div class="page-container">
                    <div class="logo-sm">
                        <a href="/" title="APMEX - Gold, silver, platinum, palladium and many other precious metals, currencies and coins at American Precious Metals Exchange, Specialists in silver including silver bars, silver bullion, as well as gold coins, gold bullion and gold bars">
                            <img src="http://www.images-apmex.com/content/images/themes/default/logo-sm.png" alt="APMEX Logo">
                        </a>

                    </div>
                    <div class="header-freeshipping" style=" float: left; margin: 10px 0 0 15px; ">
                        <a href="/apmextigershark?utm_source=homepage&utm_medium=tippytop&utm_campaign=tigershark">

                            <img src="http://www.images-apmex.com/content/images/marketing/tigershark/Tippy_Top_TigerShark.png" alt="Perth Mint Tiger Shark" style="width:248px; height:31px;" />

                        </a>
                    </div>
                    <div class="cart-counter">
                        <a href="/cart/viewcart" data-toggle="cart-popover" data-position="fixed">
                            <span class="cart-counter-num"><span>2</span></span>
                            <i class="icon icon-viewcart"></i>
                            Cart
                        </a>
                    </div>
                    <div class="search-box">
                        <form method="get" id="tippytop-searchform" action="/search">
                            <input type="search" class="search-field form-control" name="q" id="tippytop-q" autocomplete="off"
                                   placeholder="Product Name, Mint, Gold, Silver, etc." autocomplete="off" style=" width: 315px; " />
                            <input type="submit" class="btn btn-search" value="Search" />
                        </form>
                    </div>
                </div>
            </div>

        <div class="popover cart-popover bottom" id="cart-popover">
            <div class="arrow"></div>
            <h3 class="popover-title">Items In Cart</h3>
            <div class="popover-content">

    <div class="current-cart-items">
            <div class="cart-item">

                <div class="cart-item-image">
                    <a href="/product/93754/2016-1-oz-silver-american-eagle-bu"><img src="http://www.images-apmex.com/images/Catalog Images/Products/93754_Slab.jpg?v=20160114045916&amp;width=35&amp;height=35"></a>
                </div>
                <div class="cart-item-title"><a href="/product/93754/2016-1-oz-silver-american-eagle-bu">2016 1 oz Silver American Eagle BU</a></div>
                <div class="cart-item-qty">Quantity: 1</div>

            </div>
            <div class="cart-item">

                <div class="cart-item-image">
                    <a href="/product/93743/2016-1-oz-gold-american-eagle-bu"><img src="http://www.images-apmex.com/images/Catalog Images/Products/93743_Slab.jpg?v=20160115084949&amp;width=35&amp;height=35"></a>
                </div>
                <div class="cart-item-title"><a href="/product/93743/2016-1-oz-gold-american-eagle-bu">2016 1 oz Gold American Eagle BU</a></div>
                <div class="cart-item-qty">Quantity: 1</div>

            </div>
    </div>
    <div class="current-cart-items-subtotal">
        <strong>Subtotal: $1,415.37</strong>

    </div>
    <div class="current-cart-items-footer">
        <button type="button" class="close pull-left" aria-hidden="true"><span>×</span> close</button>
        <a href="/cart/viewcart" class="btn btn-orange pull-right">Checkout</a>
        <a href="/cart/viewcart" class="btn btn-link pull-right">edit cart</a>
    </div>

            </div>
        </div>

        <div id="livechat">

            <a href="http://www.boldchat.com" title="Live Chat Software" target="_blank"></a>
        </div>


        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <script src="http://www.images-apmex.com/content/js/common.js?v=1.0"></script>




            <script type="text/javascript">

                (function (a, b, c, d) {
                    a = '//tags.tiqcdn.com/utag/apmex/main/prod/utag.js';
                    d = new Date();
                    a += ('?ds=' + d.getMonth() + d.getDate());
                    b = document;
                    c = 'script';
                    d = b.createElement(c);
                    d.src = a;
                    d.type = 'text/java' + c;
                    d.async = true;
                    a = b.getElementsByTagName(c)[0];
                    a.parentNode.insertBefore(d, a);
                })();

            </script>
            <!-- BoldChat Visitor Monitor HTML v5.00 (Website=My Website,ChatButton=My Chat Button,ChatInvitation=My Invite Ruleset) -->
            <script type="text/javascript">
              window._bcvma = window._bcvma || [];
              _bcvma.push(["setAccountID", "835420356610466946"]);
              _bcvma.push(["setParameter", "WebsiteID", "827922307601811412"]);
              _bcvma.push(["setParameter", "InvitationID", "827922307797209509"]);
              _bcvma.push(["setParameter", "VisitName", ""]);
              _bcvma.push(["setParameter", "VisitPhone", ""]);
              _bcvma.push(["setParameter", "VisitEmail", ""]);
              _bcvma.push(["setParameter", "VisitRef", ""]);
              _bcvma.push(["setParameter", "VisitInfo", ""]);
              _bcvma.push(["setParameter", "CustomUrl", ""]);
              _bcvma.push(["setParameter", "WindowParameters", ""]);
              _bcvma.push(["addFloat", {type: "chat", id: "827922307317203407"}]);
              _bcvma.push(["pageViewed"]);
              var bcLoad = function(){
                if(window.bcLoaded) return; window.bcLoaded = true;
                var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
                vms.src = ('https:'==document.location.protocol?'https://':'http://') + "vmss.boldchat.com/aid/835420356610466946/bc.vms4/vms.js";
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
              };
              if(window.pageViewer && pageViewer.load) pageViewer.load();
              else if(document.readyState=="complete") bcLoad();
              else if(window.addEventListener) window.addEventListener('load', bcLoad, false);
              else window.attachEvent('onload', bcLoad);
            </script>
            <noscript>
            <a href="http://www.boldchat.com" title="Live Chat" target="_blank"><img alt="Live Chat" src="https://vms.boldchat.com/aid/835420356610466946/bc.vmi?wdid=827922307601811412&amp;vr=&amp;vn=&amp;vi=&amp;ve=&amp;vp=&amp;curl=" border="0" width="1" height="1" /></a>
            </noscript>
            <!-- /BoldChat Visitor Monitor HTML v5.00 -->
    <script type="text/javascript">
        $(window).load(function () {
            defer(function () {
                $.ajax({
                    url: '/Site/CurrentVisitor',
                    type: 'get',
                    success: function (data) {
                    }
                });
            }, 2000);
        });
        $(window).load(function () {
            defer(function () {
                $.ajax({
                    url: '/Site/ShowUserPersonalizationPopup' + '?bannertype=none&promo=none&referrer=/&url=/',
                    type: 'get',
                    success: function (data) {
                        if (data.showPopup) {
                            $('body').append(data.popupContent);
                            $('#modal-register-popup').modal();
                            $('#modal-register-popup').on('hidden', function () {
                                $('#modal-register-popup').remove();
                            });
                        }
                    }
                });
            },9000);
        });
    </script>
        <style>
            .boldchat-link a div {
                display: inline;
            }
        </style>

        <div class="boldchat-link" style="display:none;">
            <!-- BoldChat Live Chat Button HTML v5.00 (Type=HTML,ChatWindow=Testing only,Department=- None -,Website=My Website) -->
            <script type="text/javascript">
                var bccbId = Math.random(); document.write(unescape('%3Cdiv style="display:inline;" id=' + bccbId + '%3E%3C/div%3E'));
                window._bcvma = window._bcvma || [];
                _bcvma.push(["setAccountID", "835420356610466946"]);
                _bcvma.push(["setParameter", "WebsiteID", "827922307601811412"]);
                _bcvma.push(["setParameter", "CustomUrl", ""])
                _bcvma.push(["setParameter", "WindowParameters", "vr=&vi=&ve=&vp=&vn=&lc="])
                _bcvma.push(["addText", { type: "chat", window: "4359476324024903440", available: "Click here", unavailable: "Click here", id: bccbId }]);
                var bcLoad = function () {
                    if (window.bcLoaded) return; window.bcLoaded = true;
                    var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
                    vms.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + "vmss.boldchat.com/aid/835420356610466946/bc.vms4/vms.js";
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
                };
                if (window.pageViewer && pageViewer.load) pageViewer.load();
                else if (document.readyState == "complete") bcLoad();
                else if (window.addEventListener) window.addEventListener('load', bcLoad, false);
                else window.attachEvent('onload', bcLoad);
            </script>
            <!-- /BoldChat Live Chat Button HTML v5.00 -->


        </div>

        <script type="text/javascript">
            $(document).ready(function () {

                if ($(".LiveChatInsert").length) {
                    $(".boldchat-link").appendTo(".LiveChatInsert");
                    $(".LiveChatInsert").css("display", "inline");
                    $(".boldchat-link").css("display", "inline");
                }


            });
        </script>
    <!-- stewart's JS -->
    <!-- <script src="{{ site.baseurl }}/scripts/functions.js"></script> -->
    <script src="{{ site.baseurl }}/scripts/functions.js"></script>

    <span style="display: none;">
        PLATINUM
    </span>
    </body>



</html>
