.featured-items-wrapper
  display: block
  width: 100%
  margin-bottom: 24px
  padding: 12px
  border: 1px solid $apmex-green

.featured-items-body
  +section()
  +group()





.featured-item
  +span(16.70%)
  text-align: center

  .featured-item-title
    display: block

  .featured-item-cta
    margin-top: 8px
