
{% include header.html %}

<div class="page-container">
  <div class="has-side-nav">
    <div class="content-block" style="margin-bottom:40px;">
      <header class="page-header">
        <ol class="breadcrumb">
            <li>
              <a href="/" title="Home">APMEX</a>
            </li>
            <li>
              <a href="/pages/customercarecenter.html">Customer Care Center</a>
            </li>
            <li>
              Payments
            </li>
        </ol>
        <h1>Customer Care Center</h1>
      </header>
      <aside class="side-nav">
        <h2>FAQs</h2>
        <ul class="side-nav-menu">
          <li>
            <a class="side-nav-menu-target clickable-target" {% if page.url == '/buyingfromus.html' %} class="active" {% endif %} href="{{site.baseurl}}{{site.baseurl}}/pages/customercarecenter.html">Contact Information</a>
          </li>
          <li>

            <span class="side-nav-menu-target" {% if page.url == '/buyingfromus' %} class="active" {% endif %}>Buy From Us</span>

            <ul class="side-nav-sub-menu" {% if page.url == '/buyingfromus.html' %} class="show" {% endif %}>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#howDoIBuy">How do I buy from APMEX?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#whoCanBuy">Who can buy from APMEX?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#shipping">What do you charge for shipping?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#minimum">Do you have a minimum order?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#maximum">Do you have a maximum order?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#whatShouldIPurchase">Should I purchase gold, silver, platinum or palladium?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#howMuch">How much should I invest into precious metals?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#account">How do I open an account with APMEX</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#cost">Does it cost anything to open an APMEX account?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#accountBenefits">What benefits are there to opening an account?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#cancelOrder">Can I cancel my order?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#orderConfirmed">Can I change my order after my order is confirmed?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#tradeIns">Do you accept trade-ins of gold, silver and platinum?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#productsForSale">What products does APMEX sell?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/buyingfromus.html#pool">Do you offer pool accounts?</a></li>
            </ul>

          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Payments</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#discount">Is there a discount for paying by Check or Wire?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#formOfPayment">What form of payment does APMEX accept?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#holding">Do you have a holding period for checks?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#eCheck">How do I qualify for eCheck payments?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#wireFunds">Where and how do I wire Funds?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#goodFunds">What is your good funds policy?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#needPayment">How quickly will you need my payment?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#creditCards">Do you accept credit cards?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#payPal">Do you accept PayPal?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#onlinePayments">Do you accept ACH or online payments?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#paymentUnreceived">What happens if my payment isn't received within the applicable time period?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#followUp">What happens if I don't send a check or follow up on my order after it has been confirmed?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#cancelOrder">Can I cancel my order?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#currencies">What currencies does APMEX accept?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/payments.html#paymentMethodsAvailable">Are all payment methods available, regardless of the size of my order?</a></li>
            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Shipping and Insurance</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#shippingCharges">What are the U.S. shipping, handling and insurance charges?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#shipTime">How long will it take to get my package?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#international">Do you ship internationally?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#wrapping">How do you wrap your packages?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#shippedHow">How is my order shipped?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#insured">Is my package insured while in transit?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#orderItems">Does APMEX ever back order items?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/shipping.html#poBox">Can you ship my order to a post office box?</a></li>
            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Pricing</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/pricing.html#commission">Do you add a commission fee to your posted prices?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/pricing.html#priceLock">Are my prices locked in when I place my order?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/pricing.html#priceLockLength">How long is my price locked in for when buying from APMEX?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/pricing.html#volumePricing">Does APMEX offer Volume Pricing on their products?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/pricing.html#quantityDiscounts">Do you have quantity discounts?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/pricing.html#discount">Is there a discount for paying by Check or Wire?</a></li>
            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Selling To Us</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#minimum">Do you have a minimum transaction?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#howToSell">How do I sell to APMEX?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#receivedPayment">When will I receive my payment?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#personallyDeliver">I would like to personally deliver my precious metals to you. Can I do that?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#productsToBuy">What products do you buy?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#dontSendMetals">What happens if I don't send in the precious metals after a price has been confirmed?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#cancelOrder">Can I cancel my order?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#acceptTradeins">Do you accept trade-ins?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#acceptConsignments">Do you accept consignments?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#recivingFee">Do you charge a receiving fee?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/selling.html#hiddenFees">Are there any other hidden fees for selling to APMEX?</a></li>
            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Precious Metals IRA</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#ammount">Can I have more than one IRA?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#transfer">Can I transfer money from an existing IRA account to fund my Precious Metal IRA, without incurring any tax penalties?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#eligible">What types of IRAs are eligible to transfer or roll over?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#contribution">Can I open a new IRA with a contribution?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#dollarAmmount">Does APMEX have a minimum dollar amount for an IRA purchase?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#minimumAmmount">Is there a minimum dollar amount when I wish to sell my IRA Precious Metals back to APMEX?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#investingVSOwning">What is the difference between investing in a Precious Metal IRA and owning a Precious Metal ETF?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#caution">Cautionary Statment</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#reasons">Reasons To Invest</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#waysToInvest">Two Ways To Invest</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#selfDirected">WHAT IS A SELF-DIRECTED IRA?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#whyConsider">Why Consider It?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#advantages">Advantages</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#preciousMetalTypes">Precious Metal Types</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#stepOne">Step One: Select & Open A Custodian Account</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#stepTwo">Step Two: Fund the Account</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#stepThree">Step Three: Purchase Your Products</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#stepFour">Step Four: Complete The Transaction</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#inMind">Keep In Mind</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/ira.html#APMEXadvantage">APMEX Advantage</a></li>

            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Product Info</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/productinfo.html#">Product Info</a></li>
            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Tax Reporting</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/reporting.html#1099">What is a 1099-B IRS Form?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/reporting.html#required">Why is this form required to be filed?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/reporting.html#1099B">When is a 1099-B filed?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/reporting.html#IRSReportable">What Items are IRS Reportable Items?</a></li>
            </ul>
          </li>
          <li>
            <a class="side-nav-menu-target" href="http://www.apmex.com/international">International</a>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Glossary</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/glossary.html#">Glossary</a></li>
            </ul>
          </li>
          <li>
            <span class="side-nav-menu-target" href="#">Miscellaneous</span>
            <ul class="side-nav-sub-menu">
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#club">What is APMEX Club?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#returnPolicy">What is your return policy?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#authorizationNumber">How do I obtain a Return Authorization Number?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#risks">Are there risks?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#taxable">Is Gold, Silver, Platinum or Palladium taxable?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#store">Can APMEX store my gold, silver, platinum or palladium for me?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#catalog">Does APMEX have a catalog?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#IRS">Do you report my purchase of precious metals to the IRS?</a></li>
              <li><a href="{{site.baseurl}}/pages/customercarecenter/misc.html#troy">How many grams are in a troy ounce?</a></li>
            </ul>
          </li>
        </ul>
      </aside>
      <section class="content-zone">
        {{ content }}
      </section>
    </div>
  </div>
</div>
{% include footer.html %}
